//- This template tells the user a bit about me and links to my LinkedIn, GitHub, and Twitter profiles. 

extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 MONIQUE CINATL
        p.lead.text-light
          | Full Stack JavaScript Developer
        .portfolio-bio
          p
            | Hi there! I am a new developer who loves taking on new challenges and problem solving.
            | I spent the last 7 years of my professional life working in higher education, and I recently decided to take the leap and pursue software development full-time. 
            | Although it has been challenging, I have enjoyed the journey so far and look forward to a lifetime of continued learning!
            br
            br
            | Please check out the projects that I have worked on thus far, and feel free to reach out if you want to chat!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li Vanilla JavaScript
          li Object-Oriented JavaScript
          li Async Programming
          li APIs
          li Node.js
          li Express
          li Pug / Template Rendering
          li NPM
          li Progressive Enhancement
          li Communication
          li Collaboration
        h6 Contact Info
        ul
          li (925) 719 3600
          li moniquecinatl@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/moniquecinatl/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/DevMo-13', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/moniquecinatl', target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  