//- This template displays the user-friendly error message to the page. 

extends layout.pug

block content
        h3= error.message
        h4= `--error status: ${error.status}--` 
        pre= error.stack