//- This template gives an overview of what the site is for, and links to each of my project pages. 

extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 MY TECHDEGREE PORTFOLIO
      p.lead.text-light
        | This is a portfolio to showcase the projects I have completed thus far in the Treehouse FSJS techdegree. 
        br
        | Check out my projects in the gallery below or click "LEARN MORE" to learn more about me!
  article.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project in projects
        .cell
          a(href=`/project/${project.id}`, target='_blank')
            img.thumbnail(src= project.image_urls[0])
            h5= project.project_name